@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

header, footer{
    margin: auto;
    text-align: center;
}

header{
    background-image: url(../img/header.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header{
    padding: 20px 0 0;
}

img{
    max-width: 100%;
}

.logo{
    width: 100px;
}

nav, main {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

#nav {
    display: block;
    margin: 2rem auto;
    justify-content: flex-start;
    padding: 1rem;
}

.nav-items {
    display: flex;
    flex-direction: column;
    padding: 0px;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0.3rem #d3d3d3;
}

.nav-item a {
    color: #a2d9ff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item:hover, .nav-item:hover > a, .active  {
    cursor: pointer;
    background: #a2d9ff;
    color: #ffffff;
}

.nav-item.hamburger-menu:hover {
    background: #ffffff;
}

.nav-items .active > a {
    color: #ffffff;
}

.nav-items{
    position: absolute;
    top: 200px;
    right: 1.8rem;
    left: 1.8rem;
    margin: 1rem 0 0;
    background: #ffffff;
    text-align: left;
}

.nav-items > .nav-item{
    padding: 1.2rem;
}

.menu-icon{
    width: 2rem;
    float: right;
    color: #858E8E;
}

.hamburger-menu ~ .nav-item{
    display: none;
}

#main-content{
    display: flex;
    flex-direction: column;
}

aside > h2{
    margin: 0.8rem 1rem;
}

#main-content>section, #sidebar{
    padding: 0.4rem;
}

.main-section .article{
    padding-bottom: 1.3rem;
}

.main-section .article-title{
    margin: 2rem 0;
}

#sidebar .article > .article-content{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#sidebar .article{
    cursor: pointer;
}

.article{
    margin: 0 0.5rem 1.5rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0.3rem #d3d3d3;
    overflow: hidden;
}

#sidebar .article:hover{
    transform: scale(1.07);
}

.article-image {
    text-align: center;
}

#image-caption{
    margin: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
}

.article-title{
    margin: 1.5rem 0 1rem;
    color: #123c66;
}

.article-content{
    color: #858E8E;
    line-height: 1.8rem;
}

#data-chart{
  padding: 0 0.5rem;
}

#line-chart{
    max-width: 100%;
    height: 350px;
    padding: 1rem 0.5rem;
    box-shadow: rgb(211, 211, 211) 0px 0px 1rem 0.3rem;
    border-radius: 0.5rem;
}

.footer-svg{
    margin-bottom: -0.8rem;
}

.copyright{
    font-size: 0.9rem;
    margin-top: -3rem;
}

@media screen and (min-width: 600px) {
    #nav {
        display: flex;
        justify-content: flex-end;
        margin: 1rem auto;
    }
    .nav-items {
        position: static !important;
        flex-direction: row;
        text-align: right;
    }
    .hamburger-menu{
        display: none !important;
    }
    .hamburger-menu ~ .nav-item{
        display: block !important;
    }
    #sidebar{
        display: flex;
    }
    #sidebar article{
        flex: 1;
    }
    #sidebar .article{
        height: 400px;
    }

}

@media screen and (min-width: 900px) {
    #main-content{
        flex-direction: row;
    }
    
    aside{
        display: block;
        flex: 0 0 300px;
    }

    #sidebar{
        display: block;
    }
  
    #sidebar article:nth-child(2){
      margin: 2rem 0;
    }
  
    .copyright{
        color: #ffffff;
    }
}
